<% if @ingredient.errors.any? %>
  <div>
    <h2><%= pluralize(@ingredient.errors.count, "error") %> </h2>
    <ul> <% @ingredient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@ingredient) do |f| %>
  <div>
    <%= f.label "Ingredient name" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
  </div>
  <div>
    <%= f.label :threshold %>
    <%= f.text_field :threshold %>
  </div>
  <div>
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>
  <div>
    <%= f.label :active %>
    <%= f.check_box :active %>
  </div>
  <div>
    <%= f.submit "Speichern", class: "btn" %>
  </div>
<% end %>

