<% if @order.errors.any? %>
 <div>
    <h2><%= pluralize(@order.errors.count, "error") %> </h2>
    <ul> <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @order do |f| %>
  <div>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name  %>
  </div>
  <div>
    <%= f.label :address, "Adresse" %>
    <%= f.text_area :address, rows: 4  %>
  </div>
  <div>
    <%= f.submit 'Senden' %>
  </div>
<% end %>
