<h2>Your cart</h2>

<% if cart.line_items.empty? %>
    <div>is empty. Choose a pizza!</div>
<% else %>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Product</th>
                <th>Extras</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <%= render(cart.line_items) %>
        </tbody>
        <tr>
            <td>Total price:</td> 
            <td></td>
            <td> <%= number_to_currency(total_price(cart.line_items), unit: '€ ') %> </td>
            <td> <%= link_to 'Delete cart', cart,
                data: { confirm: 'Are you sure?' }, method: :delete %> </td>
        </tr>
    </table>
        <%= button_to "Edit order", edit_cart_path(current_cart), method: :get, class: "btn" %>
        <%= button_to "Place order", new_order_path, method: :get, class: "btn" %>
<% end %>

