<%= form_tag(controller: 'extra_ingredients', action: 'create') do %>
    <% (0..@ingredients.length).step(4)  do |n| %>
        <td>
            <% (n..n+3).each do |i| %>
                <% ingredient = @ingredients[i] %>
                <% if !ingredient.nil? %>
                    <%= check_box_tag "ingredient_ids[]", ingredient.id %>
                    <%= ingredient.name %> <%= number_to_currency(ingredient.price, unit: '€ ')%> 
                <% else %>
                    <%= submit_tag("Belag hinzufügen") %>
                    <%= hidden_field_tag 'product_id', @product.id %>
                    <% break %>
                <% end %>
                <br>
            <% end %>
        </td>
    <% end %>
<% end %>

