<% if @product.errors.any? %>
  <div>
    <h2><%= pluralize(@product.errors.count, "error") %> </h2>
    <ul> <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@product) do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>
  <div>
    <%= f.label :pic_url %>
    <%= f.text_field :pic_url %>
  </div>
  <div>
    <% Ingredient.all.each do |i| %>
      <%= check_box_tag "product[ingredient_ids][]", i.id, 
        @product.ingredients.include?(i) %>
        <%= i.name %>
      <% end %>
    </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
