<tr>
    <td> 
        <%= product.title %> </br>
        <%= image_tag product.pic_url %>
    </td>
    <td>
        <% product.ingredients.each do |i| %>
            <div class="small-amount-<%= small_amount?(i.quantity, i.threshold) %>">
                <%= i.name %><br>
            </div>
        <% end %>
    </td>
    <td> <%= number_to_currency(product.price, unit: '€ ') %> </td>
    <td class="active-<%= (has_only_active_ingredients?(product) && product.active) %>">
        <%= (has_only_active_ingredients?(product) && product.active) %>
    </td>
    <td> <%= link_to 'Editieren', edit_product_path(product) %> </td>
    <td> <%= link_to 'Löschen', product, 
        data: { confirm: 'Sicher?' }, method: :delete %> </td>
</tr>
