<% provide(:title, "Our products") %>
<h1>Our products</h1>


<table class="table">
    <thead>
        <tr>
            <th>Product title</th>
            <th>Ingredients</th>
            <th>Price</th>
            <th>Active</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @products.each do |p| %>
            <tr>
                <td> <%= p.title %> </td>
                <td>
                    <% p.ingredients.each do |i| %>
                        <%= i.name %><br>
                    <% end %>
                </td>
                <td> <%= number_to_currency(p.price, unit: '€ ') %> </td>
                <td> <%= has_inactive_ingredients?(p) %>
                <td> <%= link_to 'Edit', edit_product_path(p) %> </td>
                <td> <%= link_to 'Destroy', p, 
                    data: { confirm: 'Are you sure?' }, method: :delete %> </td>
            </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'New product', new_product_path %>
