<% provide(:title, "line items index") %>
<h1>All line items</h1>

<table class="table">
    <thead>
        <tr>
            <th>Card Id</th>
            <th>Product title</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <% @total_price = 0 %>
        <% @line_items.each do |i| %>
            <% p = Product.find_by_id(i.product_id) %>
            <%# FIXME: total_price in def auslagern! %>
            <% @total_price += p.price %>
            <tr>
                <td> <%= i.cart_id %> </td>
                <td> <%= p.title %> </td>
                <td> <%= number_to_currency(p.price, unit: '€ ') %> </td>
                <td> <%= link_to 'Remove', i, 
                    data: { confirm: 'Are you sure?' }, method: :delete %> </td>
            </tr>
        <% end %>
        <tr>
            <td><b>Total price:</b></th> 
            <td><b> <%= number_to_currency(@total_price, unit: '€ ') %> </b></th>
        </tr>
    </tbody>
</table>
