<tr>
    <td>
        <%= product.title %>
        <%= image_tag product.pic_url %>
    </td>
    <td>
        <% product.ingredients.each do |i| %>
            <%= i.name %><br>
        <% end %>
    </td>
    <td> <%= number_to_currency(product.price, unit: '€ ') %> </td>
    <% if has_only_active_ingredients?(product) %>
        <% if has_active_extra_ingredients?(product.ingredients) %>
            <td> <%= button_to '+ Belag', 
                add_extra_ingredient_path(id: product.id),
                method: :get %> </td>
        <% else %>
            <td> keine extra Zutaten </td>
        <% end %>

        <td> <%= button_to '+ Pizza', line_items_path(product_id: product.id) %> </td>
    <% else %>
        <td></td>
        <td> Produkt nicht verfügbar </td>
    <% end %>
</tr>
