<header class="navbar navbar-fixed-top">
<div class="navbar-inner">
    <div class="container">
        <%= link_to "Hin&Veg", store_path, id: "logo" %>
        <nav>
        <ul class="nav pull-right">
            <li><%= link_to "Choose a pizza", store_path %></li>
            <li><%= link_to "Create your own", '#' %></li>
            <li><%= link_to "|||", '#' %></li>
            <li><%= link_to "Products", products_path %></li>
            <li><%= link_to "Ingredients", ingredients_path %></li>
            <li><%= link_to "Orders", orders_path %></li>
        </ul>
        </nav>
    </div>
</div>
</header>
