<header class="navbar">
<div class="navbar-inner">
    <div class="container">
        <nav>
        <ul class="nav pull-right">
                <li class="divider-vertical"></li>
                <li><%= link_to "Products", products_path %></li>
                <li><%= link_to "Ingredients", ingredients_path %></li>
                <li><%= link_to "Orders", orders_path %></li>
                <li><%= link_to "Sign out", signout_path, method: 'delete' %></li>
                <li><%= link_to "Sign in", signin_path %></li>
        </ul>
        </nav>
    </div>
</div>
</header>
